# {
  margin: 0;
  scroll-behavior: smooth;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

.foot {
  background-color: #D5802D;
  text-align: center;
  height: 50px;
  line-height: 50px; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}

.foot a {
  color: white; 
  text-decoration: none; 
  font-weight: bold;
}

.foot img {
  max-height: 40px; 
  vertical-align: middle; 
}

.head {
  background-color: #20702F;
  text-align: center;
  height: 50px;
  position: fixed;
  line-height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 100px;
}

.circle {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
}

.circle img {
  border-radius: 50%; /* Gør billedet rundt */
  width: 150px; /* Juster størrelsen på billedet efter behov */
  height: 150px;
}

.scroll-menu {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 400px;
}

.box {
  display: inline-block;
  width: 150px;
  height: auto;
  background-color: #E0DECC;
  margin: 5px;
  color: #63703A;
  border-radius: 5px;
  position: relative;
}

.title {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
  font-size: 20px;
}

.image-container {
  text-align: left;
}

.box img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  right: 75%;
  text-align: left;
}

.side-text {
  font-size: 10px;
  text-align: right;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.knap{
  background-color: #D5802D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
}

.txt-box1 {
  margin-top: 30px;
  font-size: 30px;
  color: 000000;
  text-align: center;
  font: Acumin Pro ExtraCondensed; 
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.text {
  width: 80%; /* Justerer bredden efter behov */
  text-align: left; /* Placering af tekst til venstre */
}


.box2 {
  width: 90%;
  height: 150px;
  border:none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Til at skjule eventuelt overskydende indhold */
}

.box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Til at skalere billedet, så det passer til boksen uden at miste proportioner */
  border-radius: 10px;
}



/* SHOPPEN UNDER SIDE*/

.toppen {
  display: flex;
  justify-content: space-between; /* Placerer elementerne i header i hver sin side */
  align-items: center;
}


/* Saldo i toppen */

.containersaldo {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 5px;
}

.saldo {
  margin-right: 5px;
  font-size: 12px;
  color: #707070;
}

.saldopoint {
  display: flex;
  align-items: center;
}

.saldopoint img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.point {
  margin: 0;
  font-size: 12px;
  color: #707070;
}

/* Shopping */

.shopping {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
}

.actions {
  display: flex;
  align-items: center;
}

.action {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 40px;
  height: 30px;
  margin-top: 70px;
}

.ordretekst{
  margin: 0;
  font-size: 12px;
  color: #707070;
}

.farvortitekst{
  margin: 0;
  font-size: 12px;
  color: #707070;
}




/* Dropdown kategorier */

.containerdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.dropbtn {
  background-color: #ffffff;
  color: #707070;
  padding: 15px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  width: 300px; 
  height: 8px;
  display: flex; 
  align-items: center;
  border-radius: 5px;
  text-align: left;
 
}

.dropbtn::after {
  content: "▼"; 
  margin-left: 235px; 
  color: #707070; 
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content {
  display: none;
  background-color: #ffffff;
  min-width: 300px;
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  top: 100%;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {color: #D5802D;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #D5802D;
  color: black;
}

.dropbtn:hover::after {
  color: black; 
}

.kategori {
  margin-bottom: 8px;
  margin-right: 230px;
  margin-top: 20px;
  font-size: 15px;
}

.mulighed {
  margin-right: 235px;
  margin-top: 5px;
  font-size: 12px;
  color: #707070;
}

/* Billede galleri - slide */

.tekst-donation{
  margin-left: 5px;
  margin-top: 20px;
  font-size: 15px;
}

.tekst-shop{
  margin-left: 5px;
  font-size: 15px;
}


.scroll-container-shop {
  overflow: auto;
  white-space: nowrap;
}

.box-shop {
  position: relative;
  display: inline-block;
}

.background-image {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-left: 5px;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title-shop {
  margin-top: 20px;
  font-size: 18px;
  color: white; 
  position: absolute;
  bottom: 25px; 
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 70px; 
}

.side-text-shop {
  margin-top: 20px;
  font-size: 15px;
  color: white; 
  position: absolute;
  bottom: 5px; 
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 70px; 
}

.image-container-shop {
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px; 
  height: 30px; 
  background-color: white; 
  box-sizing: border-box; 
  border-radius: 15px;
}

.image-container-shop img{
  width: 20px;
  height: 20px;
}

.point-box {
  display: flex;
  align-items: center;
}

.point-box img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;

}

.point-text {
  margin-left: 5px; 
  font-size: 10px;
  margin-top: 5px;
}


.logoer {
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.rounded-box {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden; 
}

.rounded-box img {
  width: 80%;
  height: 80%;
  margin-top: 5px;
  object-fit: cover; 
} 